/* Reset */
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

/* Body */
body {
 font-family: Trebuchet MS, Helvetica, sans-serif;
  background: #f4f4f9;
  color: #021a29;
  line-height: 1.6;
  font-size: 1.1em;
}

/* Header */
header {
  background: #03e4b3;
  color: white;
  text-align: center;
  padding: 20px 50px;
}

header h1 {
  margin-bottom: 30px;
  font-size: 3em;
}

/* Navigation */
nav {
  background: #021a29;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 50px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #03e4b3;
}

/* Sections */
section {
  padding: 30px;
  margin: 20px auto;
  max-width: 750px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

h2 {
  color: #03e4b3;
  margin-bottom: 10px;
}

ul {
  list-style: disc;
}

/* Button */
button {
  background: #03e4b3;
  color: white;
  border: none;
  padding: 15px 15px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.2em;
  font-family: Trebuchet MS, Helvetica, sans-serif;
}

button:hover {
  background: #03e4b3;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background: #021a29;
  color: white;
  margin-top: 15px;
}
